as--b:ri
.se,,
.se:G([ri]n--b:ri:G(pr~ BS********,5,,,,,2,,,oa-2,
.se1,.lectys)s)B[type="Ze|tevt"], 	{
  $Hg: blue;
 Vlbagk:dgze-----4-----9-;


 @extend Bb********,5,1,,,,,,, ,,,,,o,,B[t\pe="telt"],
.se,,
,,,,,,,,,,,,BJ,,,}