@cMOk:dgze-----\r:G(pr,B,O,,C,,:C())B[typ ="twKt"] ,,9-,#b\r:G(pr,B,O,,C,,:C())B[type="twlt"] :G(vvvvvvvvvvvvvvvvvvvvvvvvvvv,9-,#T\r:G(pr,B,O,,C,,:C())Bvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvvv)N.l{
  $kg: j blue;
 lOOOOk:dgze-----4-----9-,---------en;


 @extend .ce,,
.se*,5,P,[type|="teK"],,[type="twlt"] ,,O,,,,,,,B[types="teKt"],,,,,,,,,,,,,,,,,X,,, :dgz,1115,,,,8,,,  Ee--9-,---------en;


 @extend .ce,,
.se*,5,P,[type|="tYKt"],,9-,#T\r:G(pr,B,O,,C,,:C())B[type="twlt"] ,,O,,,,,,,B[types="teKt"],,,,,,,,,,,,,,,,,B,,, 4-----O,,,,:dgz,1art}
