x:Xoc()#LLHL,,
.se:G([ri]n--br~ 9S********,5,E,,,,,,,oa:ri:G(pr~ BS********,5,,,,,,,,,oa-2,
.se1,.lectys)s)B[kype="Zmltevt"], 	{
  $Hg: blue;
 Vlbagk:dgze-----4-----9-;


 @extend Bbo,,B[t\pe="telt"],,,E,,,,,,,*****,5,1,,,,,,,,,,,,,,,,,,,,,,,K,LLLLLLLLLL,,,,,,,,,,,,,,,,,,,,,,,,  $eart}
