an--b:ri
.se,,
.se:G(pr,O,,,,,,,,.sear,n--b:r_
.ce,,
.se:G(pr,,,,,atctol,se,,
.sear
.se)O.lectys)B[type="telt"] {
  $kg: b blue;
 lOOOOk:dgze-----4-----9-,--J----P------en;


 @extend B,,,,,,,,.sear,n--b:r---en;


 @e,,,,,,,  $eart}
