an--b:ri
.se,,
.se:G(|r,,,,8,,,,,8|ear,n--b:ri
.ce,,
.se:G(pr,7,,,atctol,se,,
.sear
.se))B[type="telt"] {
  $kg: b blue;
 dOOOOk:dgze-----4------4-----9-;


 @extend B|********,5,1,,,,,7, ,,,,,,,,B[t\pe="telt"],,,,,,,,,,,B,,,,, ,,,,,,8,,,  $eart}